@function rem($px) {
  $result: math.div($px, 16) + rem;
  @return $result;
}

@function em($px, $current: 16) {
  $result: math.div($px, $current) + em;
  @return $result;
}

@mixin transitionHover($bg) {
  font-size: 15px;
  line-height: 1.4;
  font-weight: 500;
  text-decoration: none;
  -webkit-transition: ease-out .3s;
  -o-transition: ease-out .3s;
  transition: ease-out .3s;
  padding: 3px 0;
  position: relative;

  &:hover {
    cursor: pointer;
    text-decoration: none;
    opacity: 1;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: $bg;
    -webkit-transition: ease-out .3s;
    -o-transition: ease-out .3s;
    transition: ease-out .3s;
    opacity: 0;
  }

  &:hover:before {
    content: '';
    width: 100%;
    opacity: 1;
  }
}

@mixin flex-gap($gap, $row: true) {
  $margin: math.div($gap, 2);
  $transform: -$margin;

  @if $row {
    margin-left: $transform;
    margin-right: $transform;
  }

  @else {
    margin-top: $transform;
    margin-bottom: $transform;
  }

  >* {
    @if $row {
      margin-left: $margin;
      margin-right: $margin;
    }

    @else {
      margin-top: $margin;
      margin-bottom: $margin;
    }
  }
}

@mixin title {
  font-weight: 700;
  font-size: rem(66);
  line-height: math.div(80, 56);

  @media (max-width:$tablet) {
    font-size: rem(32);
    line-height: math.div(42, 32);
  }

  @media (max-width:$mobileSmall) {
    font-size: rem(22);
    line-height: math.div(30, 22);
  }
}

@mixin subtitle {
  font-weight: 400;
  font-size: rem(22);
  line-height: math.div(34, 22);
  letter-spacing: 0.01em;

  @media (max-width:$tablet) {
    font-size: rem(20);
    line-height: math.div(30, 20);
  }

  @media (max-width:$mobileSmall) {
    font-size: rem(16);
    line-height: math.div(25, 16);
  }
}

@mixin description {
  font-size: rem(50);
  line-height: math.div(40, 35);
  letter-spacing: 0.01em;

  @media (max-width:$tablet) {
    font-size: rem(18);
    line-height: math.div(27, 18);
  }

  @media (max-width:$mobileSmall) {
    font-size: rem(13);
    line-height: math.div(20, 13);
  }
}

@mixin template-title {
  font-weight: 700;
  font-size: rem(36);
  line-height: math.div(50, 36);
  letter-spacing: 0.01em;

  @media (max-width:$tablet) {
    font-size: rem(28);
    line-height: math.div(36, 28);
  }

  @media (max-width:$mobileSmall) {
    font-size: rem(22);
    line-height: math.div(26, 22);
  }
}